.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
*.tsbuildinfo
.env
.cache
server/dist
public/dist
apps/api/src/generated
.react-router
**/build
# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
.terraform.lock.hcl
